.form_container{
    height:85vh;
}
.form_title{
    width: 90%;
    margin: 10px auto;
}
.form_signup{
    width: 40%;
    margin:10px auto;
    padding:10px 20px;
    background: transparent;
    color: white;
    animation:form_signin 2s ease-in-out ;
}

.form_signin{
    width: 40%;
    margin:80px auto;
    background: transparent;
    padding:50px 20px;
    color: white;
    animation:form_signup 2s ease-in-out ;
}
@keyframes form_signup{
    0%{
        transform: translateX(-100%);
    }
}

@keyframes form_signin{
    0%{
        transform: translateX(-100%);
    }
}

.form_inputs{
    width: 90%;
    margin: 10px auto;
}

.form_inputs Button{
    margin-top: 20px;
    background-color: transparent;
    color: white;
    width: 100%;
}

.form_link{
    width: 90%;
    margin: 30px auto;
}
.toast-message-error{
    background:red;
    color: #fff;
    font-size:15px;
    width: 34vw;
    padding: 20px 10px;
    position: relative;
    top: 70px;
}
.toast-message-sucess{
    background:green;
    color: #fff;
    font-size:15px;
    width: 34vw;
    padding: 20px 10px;
    position: relative;
    top: 70px;
}

@media only screen and (max-width:768px){
    .form_signup{
        width:80%;
        margin:10px auto;
        padding:10px 20px;
    }
    
    .form_signin{
        width: 80%;
        margin:50px auto;
        padding:30px 10px;
    }
    .select_form option{
        width:100%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 489px){
    .form_title{
        width: 90%;
        margin:5px auto;
    }
    .form_signup{
        width:80%;
        margin:10px auto;
        padding:10px 10px;
        font-size: 10px;
    }
    .form_signin{
        width: 80%;
        margin:30px auto;
        padding:30px 10px;
        line-height: 2.5;
    }
    .select_form option{
        width:100%;
        font-size: 10px;
    }
}