.cntr_main{
    width: 50%;
    margin:50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cntr_title h2{
   color: red;
   padding-bottom: 20px;
   font-size: 50px;
}
.cntr_disp{
    padding: 20px 10px;
    color: white;
}

.cntr_btns{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.cntr_btns button{
    border: none;
    background-color:blue;
    color: white;
    padding: 10px 17px;
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 489px){
    .cntr_title h2{
        color: red;
        padding-bottom: 20px;
        font-size:30px;
     }
    .cntr_btns{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .cntr_btns button{
        font-size: 15px;
        font-weight:400;
    }
 }